# Dataset files
data/*.csv
data/*.xlsx
data/*.xls

# Database files
database/*.db
database/*.sqlite
database/*.sqlite3

# Logs
logs/*.log

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Environment files
.env